@using System.Data;
@{
    DataSet ds = Session["xmlDataSet"] as DataSet;

    string id = Request.QueryString["id"];
    var table = ds.Tables[0].Select("id=" + id);

    if (IsPost)
    {
        // PROBLEEMPJE HIER !!
      /*  DataRow dr = ds.Tables[0].Rows.Add();

        dr["id"] = Request.Form["id"];
        dr["title"] = Request.Form["title"];
        dr["artist"] = Request.Form["artist"];
        dr["playtime"] = Request.Form["playtime"];
        dr["release"] = Request.Form["release"];
        dr["rating"] = Request.Form["rating"];

        ds.Tables[0].AcceptChanges();

        ds.WriteXml(Server.MapPath("~/App_Data/Songs.xml"));
        */
    }
}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><center>Edit SONG</center></div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post">
                        @foreach (DataRow dr in table)
                        {
                        <div class="form-group">
                              <label for="title" class="col-md-4 control-label">Title:</label>

                               <div class="col-md-6">
                                    <input type="text" id="title" class="form-control" name="title" value="@dr["title"]"/>
                                </div>
                        </div>

                        <div class="form-group">
                            <label for="artist" class="col-md-4 control-label">Artist:</label>

                            <div class="col-md-6">
                                <input type="text" id="artist" class="form-control" name="artist" value="@dr["artist"]"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="playtime" class="col-md-4 control-label">Playtime:</label>

                            <div class="col-md-6">
                                <input type="text" id="playtime" class="form-control" name="playtime" value="@dr["playtime"]"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="revealed" class="col-md-4 control-label">Revealed:</label>

                            <div class="col-md-6">
                                <input type="text" id="revealed" class="form-control" name="revealed" value="@dr["release"]"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="rating" class="col-md-4 control-label">Rating:</label>

                            <div class="col-md-6">
                                <input type="text" id="rating" class="form-control" name="rating" value="@dr["rating"]"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button id="submit_button" type="submit" class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>