@using System.Data;
@using cSharp_WebApp.Models;
@{ 
    Songs song = new Songs();
    DataRow[] drArray = song.AllSongs();
}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="tableh table table-reflow table-hover">
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Playtime</th>
                            <th>Release</th>
                            <th>Rating</th>
                            <th>+</th>
                            <th>-</th>
                        </tr>

                        @foreach (DataRow dr in drArray)
                        {
                            <tr>
                                <td>@dr["Id"]</td>
                                <td>@dr["title"]</td>
                                <td>@dr["artist"]</td>
                                <td>@dr["playtime"]</td>
                                <td>@dr["release"]</td>
                                <td>@dr["rating"]</td>
                                <td><a href="Edit?id=@dr["id"]">Edit</a></td>
                                <td><a href="Delete?id=@dr["id"]">Delete</a></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


