@using System.Data;

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-0">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="tableh table table-reflow table-hover">
                        <tr>
                            <th>Title</th>
                            <th>Released</th>
                            <th>Playtime</th>
                            <th>Revealed</th>
                            <th>Rating</th>
                            <th>+</th>
                            <th>-</th>
                        </tr>
                        @{
                            DataSet ds = Session["xmlDataSet"] as DataSet;
                        }
                        @foreach (DataRow dr in ds.Tables[0].Rows)
                        {
                            <tr>
                                <td>@dr["title"]</td>
                                <td>@dr["artist"]</td>
                                <td>@dr["playtime"]</td>
                                <td>@dr["revealed"]</td>
                                <td>@dr["rating"]</td>
                                <td><a href="Edit?id=@dr["id"]">Edit</a></td>
                                <td><a href="Delete?id=@dr["id"]">Delete</a></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


